<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Tell browsers not to scale the viewport automatically -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="startup.css" rel="stylesheet" />
    <title><%= blogData.user %>'s Blog!</title>
    <link rel="icon" href="https://assets.pokemon.com/assets/cms2/img/pokedex/full/875.png">
  </head>

  <body>
    <h1><%= blogData.BlogHeader %></h1>
    
    <h2><%= blogData.userStatus %></h2>
    
    <% blogData.userPosts.forEach((post) => { %>
      <p><%= post %></p>
    <% }); %>

  </body>

  </html>