* {
    font-family: sans-serif;
    box-sizing: border-box;
    color:white;
  }

  header { 
    font-size: 50px;
    color: white;
    padding-top: .3em;
    padding-bottom: 1em;
    text-align: center;

  }

  body {
    background-color: burlywood;
    
  }
footer {

        flex: 0 50px;
        background: cyan;
        color: white;
        border-radius: 5px;
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
}

.foottext {
  padding: .2em;
  font-size: 35px;
}

/*Controls for the login box*/
.loginbox {
  position: absolute;
  right: 0;
  top: 120px;
  background-color: yellowgreen;
}
.logintext {
  text-align: right;
  font-size: 30px;
}
/* .loginbuttons{
 display: ;
} */

.statuscontrol {
 position: absolute;
 right: 0;
 top: 400px;
 padding: 1em;
}
.stathead {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: .35em;
}
.status {
  font-size: 18px;
  text-align: right;
  padding-bottom: .25em;

}