* {
    font-family: sans-serif;
    box-sizing: border-box;
    color:white;
  }

  header { 
    font-size: 50px;
    background-color: cyan;
    color: white;
    border-radius: 5px;
    padding: .4em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;

  }

  body {
    background-color: burlywood;
    
  }
footer {

        flex: 0 50px;
        background: cyan;
        color: white;
        border-radius: 5px;
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 35px;
      
}

.statuscontrol {
  position: absolute;
  top: 145px;
  right: 35px;

 width: 300px;
 border: .5em solid red;
 background-color: yellowgreen;
 padding: 1em;

}
.stathead {
  font-size: 30px;
  font-weight: bold;
}
.status {
  font-size: 18px;

}