* {
    font-family: rainyHearts;
    box-sizing: border-box;
    color:white;
  }

  header { 
    font-size: 50px;
    padding-top: .3em;
    padding-bottom: .3em;
    margin-bottom: 1em;
    text-align: center;

  }

  body {
   background-color: #deb887;
    
   
  }
  .centerbox {
   text-align: center;
    background-color: #f0dac2;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    padding: 10px;
  }
  .centerp {
    font-size: 20px;
    max-width:  45em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  
  }
 
  /* Image Display Controls */

  .displayheader {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .displaytext {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .displaytext span {
    padding: 1em;
  }

  .displayimage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .displayimage img {
    
    max-width: 200px;
    max-height: 200px;

    
  }

.foottext {
  padding: .2em;
  font-size: 35px;
}

/* Styling for Songlist*/

.listhead {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.songs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
 
}

/*Controls for the login box*/
.loginbox {
  text-align: center;
    background-color: chartreuse;
    border: red solid 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    padding: 10px;
}
.logintext {
  text-align: center;
  font-size: 30px;
}
/* .loginbuttons{
 display: ;
} */


.statuscontrol {
 position: absolute;
 right: 0;
 top: 300px;
 padding: 1em;
}
.stathead {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: .35em;
}
.status {
  font-size: 18px;
  text-align: right;
  padding-bottom: .25em;

}

footer {

  background: cyan;
  color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

@font-face {
  font-family: rainyHearts;
  src: url(rainyhearts.ttf);
}